levi-test-flow.json
{
  "createdAt": "2025-07-11T15:36:46.805Z",
  "updatedAt": "2025-07-14T20:36:01.000Z",
  "id": "YIAccubJA1g1Zgkt",
  "name": "Levi Test Flow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Athlete's Question: \n{{ $('Webhook').item.json.body.attributes.message }}\n\n---\n\n**Most Recent Assessment:**\n{{ JSON.stringify($json.mostRecentAssessment) }}\n\n**Average of Last 3 Assessments:**\n{{ JSON.stringify($json.averageOfLastThree) }}\n\n**Overall Average Scores:**\n{{ JSON.stringify($json.averageScores) }}\n\n---\n\nPlease analyze the data above. Then:\n- Address the athlete by name.\n- Review how they performed in the most recent assessment.\n- Compare it to their last 3 assessments and all-time average.\n- Highlight:\n  - Key improvements or declines\n  - Areas of strength\n  - Areas that need more work\n- Recommend 1–2 drills tailored to their weaknesses.\n- Be clear, friendly, encouraging, and concise.\n",
        "options": {
          "systemMessage": "=You are Coach Link Fairway, a seasoned and encouraging AI golf coach. Your role is to analyze a user's golf performance and physical fitness data from their PDI assessments and provide clear, personalized, and actionable coaching.\n\nAlways address the athlete by name and refer to key stats in your advice. Be professional, supportive, and occasionally humorous to keep the tone light and motivating.\n\n---\n\n**What You Will Receive:**\n\nYou will be provided with athlete data from PDI Assessments. Each assessment contains three sections:\n\n1. **Physical Ability**\n2. **Golf Ability**\n   - 3ft Putt (4 attempts)\n   - 10ft Putt (4 attempts)\n   - 30ft Putt (4 attempts)\n   - 3yd Chip (4 attempts)\n   - 10yd Chip (4 attempts)\n   - 20yd Chip (4 attempts)\n   - Driver (6 attempts)\n   - Six Iron Ball Flight Control (9 attempts, with 4 sub-metrics per shot: curve, carry, height, distance)\n3. **Mental Ability**\n\n---\n\n**Your Job:**\n\n- Review and compare:\n  - The **latest assessment**\n  - The **average of the last 3 assessments** (refer to as “average of the last 3 assessments”)\n  - The **average of all assessments** (refer to as “average”)\n- Analyze performance trends, highlighting:\n  - Areas of **improvement**\n  - Areas that are still **struggling**\n  - Areas of **consistent strength**\n- Give 1–2 **actionable improvement tips**, and recommend specific **drills** based on weak areas.\n- When referencing any data point, always state whether it's from the latest, 3-assessment average, or all-time average.\n\n---\n\n**Notes:**\n\n- If the athlete hasn't completed a PDI assessment in the last 30 days, encourage them to do so to ensure the coaching stays accurate and helpful.\n- Be concise, actionable, and supportive.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        0
      ],
      "id": "1653714b-cdcd-4b6c-ad15-93a6b6212b55",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        780,
        440
      ],
      "id": "f007a044-63b7-4686-8651-861878060044",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce1be9a0-3a2b-4b21-a988-52028cb62a70",
              "name": "output",
              "value": "",
              "type": "string"
            },
            {
              "id": "e97c3a54-d570-4467-91f7-2be8fa3b74b2",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        0
      ],
      "id": "222a1748-be57-47de-ab27-7fff810669de",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        440
      ],
      "id": "5a874f53-3e31-41f9-a5a2-deb8155ac10d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I8AkDrdcTfhJdWQC",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Returns a list of golf drills.",
        "operation": "executeQuery",
        "query": "SELECT \n[dbo].[ChallengeDrill].[DrillName]\n      ,[ScoreMin]\n      ,[ScoreMax]\n      ,[IsScoreInPercentage]\n      ,[ChallengeDrillId]\n\n      ,[section]\n      ,[groupName]\n      ,[level]\n      ,[type]\n      ,[rules]\n      ,[goal]\n      ,[setup]\n      ,[specialRules]\n      ,[specialGoals]\n      ,[specialSetup]\n      ,[max]\n      ,[completionRequirement]\n      ,[image]\n      ,[video]\n      ,[createdAt]\n      ,[modifiedAt]\n      ,[reps]\n\n      ,[isCheckpoint]\n  FROM [dbo].[ChallengeDrillScoreMapping]\n  INNER JOIN [dbo].[ChallengeDrill] ON [dbo].[ChallengeDrillScoreMapping].ChallengeDrillId = [dbo].[ChallengeDrill].id\n"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1160,
        400
      ],
      "id": "d68f1d05-36a1-429a-ad94-7f8e494aa444",
      "name": "Microsoft SQL Drills",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n      [FirstName]\n      ,[LastName]\n\n      ,[Active]\n\n      ,[Gender]\n\n      ,[DateOfBirth]\n      ,[PersonalBio]\n      ,[FamilyProfile]\n      ,[HomeCity]\n      ,[HomeState]\n\n      ,[Height]\n      ,[Weight]\n      ,[ClubHeadSpeed]\n      ,[CarryDistance]\n      ,[FirstTournamentYear]\n      ,[SATScore]\n      ,[ACTScore]\n      ,[PSATScore]\n      ,[MembershipTier]\n      ,[MembershipExpires]\n      ,[UsedTrialUpgrade]\n      ,[IsRegistered]\n      ,[CurrentSchoolPhone]\n      ,[AcceptanceSchoolName]\n      ,[RankAGAUpdated]\n      ,[RankJGSNational]\n      ,[RankJGSState]\n      ,[RankJGSClass]\n      ,[RankJGSUpdated]\n      ,[Goals]\n      ,[CoolFacts]\n      ,[HomeAddress]\n      ,[HomeZip]\n      ,[HomePhone]\n      ,[MobilePhone]\n      ,[PublicEmail]\n\n      ,[Twitter]\n      ,[Instagram]\n      ,[GuidanceCounselor]\n      ,[GuidanceCounselorEmail]\n      ,[GuidanceCounselorPhone]\n      ,[Country]\n      ,[IsRanked]\n      ,[ContactAddress]\n      ,[ContactCity]\n      ,[ContactState]\n      ,[ContactZip]\n      ,[Middlename]\n      ,[HasSeenTournamentGuidelines]\n      ,[Slug]\n      ,[RankWAGRNational]\n      ,[RankWAGRState]\n      ,[RankWAGRClass]\n      ,[RankWAGRUpdated]\n      ,[Facebook]\n      ,[ParentsSchool]\n      ,[IsAppNotification]\n      ,[IsEmailNotification]\n      ,[ProfileStatus]\n      ,[VolunteerExperience]\n      ,[ADNCustomerProfileID]\n      ,[IsAutoRenew]\n      ,[PaymentPlan]\n      ,[LastRenewDate]\n      ,[PaymentAmount]\n      ,[SubscriptionDate]\n      ,[LongExpiryEmailSent]\n      ,[ShortExpiryEmailSent]\n      ,[LongAutoRenewEmailSent]\n      ,[ShortAutoRenewEmailSent]\n      ,[DiscountCodeApplied]\n      ,[IsFirstTimeLoggedInAfterMembershipExpired]\n      ,[LockedForResults]\n      ,[AcademicHonors]\n      ,[NewTournamentsAdded]\n      ,[SysStartTime]\n      ,[SysEndTime]\n      ,[IsContacted]\n      ,[TournamentScoringAverageLastYear]\n      ,[SnapChat]\n      ,[NCAAClearingHouse]\n      ,[NeedsWelcomeEmail]\n      ,[AthleteSourceId]\n      ,[HideFromSearchResults]\n      ,[HubCupStandingRank]\n      ,[HubCupStandingElibleTournamentCount]\n      ,[HubCupStandingScoringAverage]\n      ,[HubCupStandingRankLastUpdateDate]\n      ,[AthleteSuccesStoryFeedback]\n      ,[IsSuccessStoryApproved]\n      ,[AcceptanceSchoolId]\n      ,[AthletePlayerDevelopmentLevelID]\n      ,[IsPushNotification]\n      ,[IsWeeklyUpdateAdded]\n      ,[HwDidYouHearAboutUs]\n      ,[AthleteDominantHand]\n      ,[Priorities]\n      ,[userId]\n      ,[GolferType]\n      ,[HubAthleteProfileId]\n      ,[College]\n      ,[SelfAssessmentAllowance]\n ,[PdiDate]\n      ,[PdiWithScoringAvg]\n      ,[PdiWithoutScoringAvg]\n      ,[Putt3ft]\n      ,[Putt10ft]\n      ,[Putt30ft]\n      ,[Chip3yd]\n      ,[Chip10yd]\n      ,[Chip20yd]\n      ,[Driver]\n      ,[SixIronBFC]\n      ,[SupineBridge]\n      ,[BroadJump]\n      ,[ASLRLeft]\n      ,[ASLRRight]\n      ,[DeepSquat]\n      ,[ScoringAverage]\n      ,[SupineBridgeLeft]\n      ,[SupineBridgeRight]\n      ,[GolfPerformance]\n      ,[GolfProficiency]\n      ,[PhysicalProficiency]\n  FROM [dbo].[AthleteProfile]\n    INNER JOIN [dbo].[AssessmentSummary] ON [dbo].[AthleteProfile].[id] = [dbo].[AssessmentSummary].[athleteProfileId]\nWHERE [dbo].[AthleteProfile].[id] = {{ $('Edit Fields1').item.json.ap_id }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1760,
        280
      ],
      "id": "26c4f8cd-6714-40da-b10e-c3efefe0438a",
      "name": "Microsoft SQL AP",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d982a37-5d6e-4635-8f53-3b8a1997ca17",
              "name": "ap_id",
              "value": "={{ $('Webhook').item.json.body.attributes.athleteProfileId }}",
              "type": "number"
            },
            {
              "id": "21f7860b-e755-4319-8085-9f7593e857fa",
              "name": "chatInput",
              "value": "={{ $('Webhook').item.json.body.attributes.message }}",
              "type": "string"
            },
            {
              "id": "55e638f6-98a9-4489-a3b4-469449f7b0e0",
              "name": "averageScores",
              "value": "={{ $json.averageScores }}",
              "type": "object"
            },
            {
              "id": "663371d9-948a-4390-87bf-91b51a585543",
              "name": "averageOfLastThree",
              "value": "={{ $json.averageOfLastThree }}",
              "type": "object"
            },
            {
              "id": "21680b6d-6790-4c1c-8f49-cc4a633f7962",
              "name": "mostRecentAssessment",
              "value": "={{ $('Code').item.json.mostRecentAssessment.json }}",
              "type": "object"
            },
            {
              "id": "79d3dcc5-40eb-407c-b2a0-a0d97ee341be",
              "name": "sessionId",
              "value": "123456789",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        60
      ],
      "id": "edecb3ab-73c2-4761-ad5c-d4f52e49d4a7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get subsection scores for each assessment the user has taken ordered from the most recent to the least recent.",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM [dbo].[SubSectionScores]\nWHERE [dbo].[SubSectionScores].surveyResponseId IN (SELECT id FROM [dbo].[SurveyResponse] WHERE athleteProfileId = {{ $('Edit Fields1').item.json.ap_id }})\nORDER by id DESC\n"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1760,
        500
      ],
      "id": "cd4c7bfa-7528-4398-8e74-265e5e8d23ac",
      "name": "Microsoft SQL Scores",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dde642e2-cf6a-4935-9711-2fc921b44f06",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        60
      ],
      "id": "680ede81-1548-470e-85cd-959951da46ac",
      "name": "Webhook",
      "webhookId": "dde642e2-cf6a-4935-9711-2fc921b44f06"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"output\": {{ $json.output }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1600,
        0
      ],
      "id": "92e3f94c-dd0e-4d97-b6a2-e180852740d0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Returns athlete's name and other personal details.",
        "operation": "executeQuery",
        "query": "SELECT\n      [FirstName]\n      ,[LastName]\n      ,[Gender]\n      ,[DateOfBirth]\n      ,[Height]\n      ,[Weight]\n      ,[userId]\n      ,[GolferType]\n      ,[College]\n  FROM [dbo].[AthleteProfile]\nWHERE [dbo].[AthleteProfile].[id] = {{ $('Edit Fields1').item.json.ap_id }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        980,
        400
      ],
      "id": "4d68435a-e593-4a2a-acac-9a8c4cc04e04",
      "name": "Athlete Details",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Returns a list of all coach guided assessments taken by the user ordered from most recent to least recent.",
        "operation": "executeQuery",
        "query": "select top 1 [createdAt],\n  [modifiedAt],\n  [PdiWithScoringAvg],\n  [Putt3ft],\n  [Putt10ft],\n  [Putt30ft],\n  [Chip3yd],\n  [Chip10yd],\n  [Chip20yd],\n  [Driver],\n  [SixIronBFC],\n  [BroadJump],\n  [ASLRLeft],\n  [ASLRRight],\n  [DeepSquat],\n  [SupineBridgeLeft],\n  [SupineBridgeRight],\n  [ScoringAverage]\nfrom assessmentSummary\nwhere athleteprofileId =  {{ $('Edit Fields1').item.json.ap_id }}\nORDER by id desc"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1600,
        280
      ],
      "id": "f9fcf6aa-f1fd-4560-8004-f51a3df61b8f",
      "name": "Recent Assessment",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "description": "Call this tool to get a JSON object containing the athletes average scores for the last three assessments and the athletes overall average scores.\n\n**Explanation of JSON fields**\naverageScores - score averages for all the athlete's assessments\naverageOfLastThree - the average scores of the last three assessments",
        "workflowId": {
          "__rl": true,
          "value": "wtIRa9GuyX1CFh4k",
          "mode": "list",
          "cachedResultName": "AssessmentData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "apId": "1210"
          },
          "matchingColumns": [
            "apId"
          ],
          "schema": [
            {
              "id": "apId",
              "displayName": "apId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1600,
        500
      ],
      "id": "e11ac524-f4b7-4735-8be9-322d6c11fdd8",
      "name": "Assessment Averages",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select top 1 [createdAt],\n  [modifiedAt],\n  [PdiWithScoringAvg],\n  [Putt3ft],\n  [Putt10ft],\n  [Putt30ft],\n  [Chip3yd],\n  [Chip10yd],\n  [Chip20yd],\n  [Driver],\n  [SixIronBFC],\n  [BroadJump],\n  [ASLRLeft],\n  [ASLRRight],\n  [DeepSquat],\n  [SupineBridgeLeft],\n  [SupineBridgeRight],\n  [ScoringAverage]\nfrom assessmentSummary\nwhere athleteprofileId =  1210\nORDER by id desc"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        40,
        60
      ],
      "id": "35bf6b38-4bd8-4df2-89c4-019a9b62bddc",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wtIRa9GuyX1CFh4k",
          "mode": "list",
          "cachedResultName": "AssessmentData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "apId": "1210"
          },
          "matchingColumns": [
            "apId"
          ],
          "schema": [
            {
              "id": "apId",
              "displayName": "apId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        60
      ],
      "id": "0a11b9d4-8f8c-4195-8c13-92c5c7f35af3",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsCode": "return {\"mostRecentAssessment\": $input.first()};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        60
      ],
      "id": "cb0d74f1-ba85-432c-ae5f-a1a23979847d",
      "name": "Code"
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL Drills": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL AP": {
      "ai_tool": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL Scores": {
      "ai_tool": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Athlete Details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recent Assessment": {
      "ai_tool": [
        []
      ]
    },
    "Assessment Averages": {
      "ai_tool": [
        []
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "66e3872f-600c-442f-b830-8f00caeb830a",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-07-11T13:17:34.969Z",
      "updatedAt": "2025-07-11T13:17:34.969Z",
      "id": "XEjN7fWhDMHdaXaT",
      "name": "Golf Coach"
    }
  ]
}