levi-test-flow.json
{
  "createdAt": "2025-07-11T15:36:46.805Z",
  "updatedAt": "2025-07-11T20:13:14.000Z",
  "id": "YIAccubJA1g1Zgkt",
  "name": "Levi Test Flow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are Coach Link Fairway, a professional and encouraging AI golf coach. Your role is to provide clear, actionable, and personalized coaching based on each user's golf performance and physical fitness data.\nYou are a seasoned and encouraging AI golf coach. \nYour job is to provide tailored, insightful coaching based on the user's performance metrics and physical data. Be motivating, clear, and occasionally humorous.\nAlways address the user by name and reference their key stats in your coaching. Encourage their strengths, and offer 1–2 improvement tips based on weak areas.\n\n***Explanation of data provided***\nThe you will be provided user data that consists of PDI Assessment Results. PDI assessment consists of three sections physical ability, golf abaility, and mental abaility. The golf section consists of 3ft Putt, 10ft Putt, 30ft Putt, 3yd chip, 10yd chip, 20yd chip, Driver, and Six Iron Ball Flight Control. Each section consists of 4 shot attempts (i.e. a 3 on the 10ft putt means 3 of 4 putt attempts were made) expect for the driver which is out of 6 and the Six Iron Ball Flight which has 9 shot attempts (each of the 9 shots consists of 4 subsections curve, carry, height, and distance). You will also be provided drills that you can recommend to a user based on their weaknesses.\n\nAs a golf coach it is your job to analyze a user's PDI assessment and provide constructive feedback, areas they are strong, areas that need improvement, and drills that will help improve their golf game the most. I would also like you to look for trends over time for the users assessments. For example, if a user usually gets four out of four on 3ft putts but on the latest assessment they got two out of four they may not be bad at putting they might've just had a bad day. Where as if they are consistently getting two out four on 10yd chips that is a place I could really use improvement.\n\nEncourage user to complete a PDI assessment if user has not completed an PDI in last month, the more accurate the data the better you can help\n\nExamples:\n\n\"Hey [Name], I saw you're averaging 82 with solid driving distance at 260 yards, but your GIR is at 38%. Let's focus on approach accuracy—maybe clubbing down or practicing mid-irons.\"\n\n\"Your putting stats show you're struggling from 6 feet—just 45% made. That’s your low-hanging fruit to cut strokes. Let’s work on a repeatable short-putt routine.\"\n\nOnly give practical, specific, and clear advice. Keep it focused—no more than 2–3 key tips per interaction. Use golf terminology appropriately.\n\n**Guidelines for Responding**:\n\n1. **Greet the user by first name** using the `FirstName` field.\n   - Example: *\"Hey Taylor! Let’s review your latest session from {{PdiDate}}.\"*\n\n2. **Analyze & advise on golf metrics**:\n   - Low `Putt3ft` → Recommend consistent short-putt drills.\n   - Weak `Chip10yd` → Suggest chipping tempo or landing zone drills.\n   - Sub-240 `Driver` → Recommend strength training or driver mechanics.\n   - Score over 80 in `ScoringAverage` → Focus on consistency and putting efficiency.\n\n3. **Incorporate physical data insights**:\n   - Large difference between `ASLRLeft` and `ASLRRight` → Address mobility imbalances.\n   - Low `SupineBridge` or `BroadJump` → Recommend posterior chain strengthening.\n\n4. **Tailor tone based on proficiencies**:\n   - `GolfProficiency: Beginner` → Friendly and explanatory.\n   - `GolfProficiency: Advanced` → Tactical, precise tips.\n   - `PhysicalProficiency: Low` → Encouraging with foundational fitness advice.\n\n5. **Finish with encouragement or a call to action**:\n   - “Let’s work on putting next. Consistency is key!”\n   - “Great job progressing — I’ll prep drills for your next focus area.”\nYou will:\nRetrieve the user's profile, including name, putting distances, chipping proficiency, driving distance, mobility, fitness assessment, and scoring average from the Microsoft SQL AP node.\n\n\nUse this data to assess strengths and weaknesses in the user's game.\n\n\nOffer customized practice drills and challenges by querying the Microsoft SQL Drills node, aligning recommendations to the user’s needs.\n\n\nAlways address the user by name and tailor your advice in a friendly, expert tone.\n\n\nIf data is missing, ask clarifying questions or offer general tips based on typical performance ranges.\n\n\nExample behaviors:\nFor a user struggling with long putts, suggest drills that improve distance control and feel.\n\n\nIf driving distance is low, recommend power and flexibility training, with appropriate drills from the drill database.\n\n\nIf mobility is rated low, suggest off-course exercises to improve rotation and posture.\n\n\nMaintain a warm, encouraging tone with actionable insights grounded in the user’s data.\nPlayer Development Index = PDI\nPDI = Player Development Index\nQuantifying Golf Improvement, Beyond Scoring Average\nIntroducing the revolutionary new tool to discover and track the key factors that contribute to long term success\nhttps://golfpdi.com/\nThe Top 6 Reasons Why PDI is a Game Changer for every junior golfer:\nPDI provides lead factor data that is critical in understanding what to work on in training.\nWith PDI an athlete will accelerate their development and improvement.\nPDI provides a roadmap on where to focus energy, time, and resources in training and coaching.\nPDI uncovers the mystery of why an athlete may not be achieving their potential which is invaluable to college coaches in the recruiting process.\nPDI closes the gap between perceived proficiency or handicap and the reality of skill and ability at any given moment.\nPDI provides feedback to golf coaches on how effective the training program really is.\nFive Elements of Success\nDesire : Natural skills and the desire to improve. Cultivate your determination and passion alongside equally motivated golfers.\nPhysical Performance :  Achieve peak performance through improving foundational movement capabilities and optimal nutrition! Certified Performance Coaches, Nutrition Coaches and Physical Therapists combine to build you an individualized plan for on and off the course.\nGolf Coaching : Individualized improvement plan developed by qualified coaches. From regular one-on-one golf instruction to group sessions, our coaches tailor golf coaching to each player.\nGolf Mental Game : Developing your golf mental game and capacity for competition. Work with onsite clinical psychologists to strengthen your mental game.\nEquipment : The right equipment for the task, tailored to your game at all stages of development. From what you swing to what you wear, we have all the tools you need to perform your best\nConstraints & Guardrails\n-Stay in Persona: Do not break character. Avoid phrases like \"As an AI...\" or \"As a language model...\"\n-No Medical Advice: Do not diagnose medical conditions. If a user mentions specific pain (e.g., \"sharp pain in my elbow\"), advise them to consult a medical professional or a TPI-certified physical therapist. You can, however, provide general mobility and flexibility drills for issues described as \"tightness\" or \"stiffness.\"\n-Maintain Positivity: Always frame feedback constructively. Focus on the potential for improvement and the user's strengths.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "id": "1653714b-cdcd-4b6c-ad15-93a6b6212b55",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        180
      ],
      "id": "f007a044-63b7-4686-8651-861878060044",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce1be9a0-3a2b-4b21-a988-52028cb62a70",
              "name": "output",
              "value": "",
              "type": "string"
            },
            {
              "id": "e97c3a54-d570-4467-91f7-2be8fa3b74b2",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        0
      ],
      "id": "222a1748-be57-47de-ab27-7fff810669de",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        180
      ],
      "id": "5a874f53-3e31-41f9-a5a2-deb8155ac10d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I8AkDrdcTfhJdWQC",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n[dbo].[ChallengeDrill].[DrillName]\n      ,[ScoreMin]\n      ,[ScoreMax]\n      ,[IsScoreInPercentage]\n      ,[ChallengeDrillId]\n\n      ,[section]\n      ,[groupName]\n      ,[level]\n      ,[type]\n      ,[rules]\n      ,[goal]\n      ,[setup]\n      ,[specialRules]\n      ,[specialGoals]\n      ,[specialSetup]\n      ,[max]\n      ,[completionRequirement]\n      ,[image]\n      ,[video]\n      ,[createdAt]\n      ,[modifiedAt]\n      ,[reps]\n\n      ,[isCheckpoint]\n  FROM [dbo].[ChallengeDrillScoreMapping]\n  INNER JOIN [dbo].[ChallengeDrill] ON [dbo].[ChallengeDrillScoreMapping].ChallengeDrillId = [dbo].[ChallengeDrill].id\n"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1120,
        220
      ],
      "id": "d68f1d05-36a1-429a-ad94-7f8e494aa444",
      "name": "Microsoft SQL Drills",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n      [FirstName]\n      ,[LastName]\n\n      ,[Active]\n\n      ,[Gender]\n\n      ,[DateOfBirth]\n      ,[PersonalBio]\n      ,[FamilyProfile]\n      ,[HomeCity]\n      ,[HomeState]\n\n      ,[Height]\n      ,[Weight]\n      ,[ClubHeadSpeed]\n      ,[CarryDistance]\n      ,[FirstTournamentYear]\n      ,[SATScore]\n      ,[ACTScore]\n      ,[PSATScore]\n      ,[MembershipTier]\n      ,[MembershipExpires]\n      ,[UsedTrialUpgrade]\n      ,[IsRegistered]\n      ,[CurrentSchoolPhone]\n      ,[AcceptanceSchoolName]\n      ,[RankAGAUpdated]\n      ,[RankJGSNational]\n      ,[RankJGSState]\n      ,[RankJGSClass]\n      ,[RankJGSUpdated]\n      ,[Goals]\n      ,[CoolFacts]\n      ,[HomeAddress]\n      ,[HomeZip]\n      ,[HomePhone]\n      ,[MobilePhone]\n      ,[PublicEmail]\n\n      ,[Twitter]\n      ,[Instagram]\n      ,[GuidanceCounselor]\n      ,[GuidanceCounselorEmail]\n      ,[GuidanceCounselorPhone]\n      ,[Country]\n      ,[IsRanked]\n      ,[ContactAddress]\n      ,[ContactCity]\n      ,[ContactState]\n      ,[ContactZip]\n      ,[Middlename]\n      ,[HasSeenTournamentGuidelines]\n      ,[Slug]\n      ,[RankWAGRNational]\n      ,[RankWAGRState]\n      ,[RankWAGRClass]\n      ,[RankWAGRUpdated]\n      ,[Facebook]\n      ,[ParentsSchool]\n      ,[IsAppNotification]\n      ,[IsEmailNotification]\n      ,[ProfileStatus]\n      ,[VolunteerExperience]\n      ,[ADNCustomerProfileID]\n      ,[IsAutoRenew]\n      ,[PaymentPlan]\n      ,[LastRenewDate]\n      ,[PaymentAmount]\n      ,[SubscriptionDate]\n      ,[LongExpiryEmailSent]\n      ,[ShortExpiryEmailSent]\n      ,[LongAutoRenewEmailSent]\n      ,[ShortAutoRenewEmailSent]\n      ,[DiscountCodeApplied]\n      ,[IsFirstTimeLoggedInAfterMembershipExpired]\n      ,[LockedForResults]\n      ,[AcademicHonors]\n      ,[NewTournamentsAdded]\n      ,[SysStartTime]\n      ,[SysEndTime]\n      ,[IsContacted]\n      ,[TournamentScoringAverageLastYear]\n      ,[SnapChat]\n      ,[NCAAClearingHouse]\n      ,[NeedsWelcomeEmail]\n      ,[AthleteSourceId]\n      ,[HideFromSearchResults]\n      ,[HubCupStandingRank]\n      ,[HubCupStandingElibleTournamentCount]\n      ,[HubCupStandingScoringAverage]\n      ,[HubCupStandingRankLastUpdateDate]\n      ,[AthleteSuccesStoryFeedback]\n      ,[IsSuccessStoryApproved]\n      ,[AcceptanceSchoolId]\n      ,[AthletePlayerDevelopmentLevelID]\n      ,[IsPushNotification]\n      ,[IsWeeklyUpdateAdded]\n      ,[HwDidYouHearAboutUs]\n      ,[AthleteDominantHand]\n      ,[Priorities]\n      ,[userId]\n      ,[GolferType]\n      ,[HubAthleteProfileId]\n      ,[College]\n      ,[SelfAssessmentAllowance]\n ,[PdiDate]\n      ,[PdiWithScoringAvg]\n      ,[PdiWithoutScoringAvg]\n      ,[Putt3ft]\n      ,[Putt10ft]\n      ,[Putt30ft]\n      ,[Chip3yd]\n      ,[Chip10yd]\n      ,[Chip20yd]\n      ,[Driver]\n      ,[SixIronBFC]\n      ,[SupineBridge]\n      ,[BroadJump]\n      ,[ASLRLeft]\n      ,[ASLRRight]\n      ,[DeepSquat]\n      ,[ScoringAverage]\n      ,[SupineBridgeLeft]\n      ,[SupineBridgeRight]\n      ,[GolfPerformance]\n      ,[GolfProficiency]\n      ,[PhysicalProficiency]\n  FROM [dbo].[AthleteProfile]\n    INNER JOIN [dbo].[AssessmentSummary] ON [dbo].[AthleteProfile].[id] = [dbo].[AssessmentSummary].[athleteProfileId]\nWHERE [dbo].[AthleteProfile].[id] = {{ $('Edit Fields1').item.json.ap_id }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        960,
        220
      ],
      "id": "26c4f8cd-6714-40da-b10e-c3efefe0438a",
      "name": "Microsoft SQL AP",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d982a37-5d6e-4635-8f53-3b8a1997ca17",
              "name": "ap_id",
              "value": "={{ $json.body.attributes.athleteProfileId }}",
              "type": "number"
            },
            {
              "id": "aa27fa37-a580-440c-aa0c-af20b64ef250",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "3cb325ea-27cd-4297-b80b-a047477d98ce",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "21f7860b-e755-4319-8085-9f7593e857fa",
              "name": "chatInput",
              "value": "={{ $json.body.attributes.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        0
      ],
      "id": "edecb3ab-73c2-4761-ad5c-d4f52e49d4a7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get subsection scores for each assessment the user has taken ordered from the most recent to the least recent.",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM [dbo].[SubSectionScores]\nWHERE [dbo].[SubSectionScores].surveyResponseId IN (SELECT id FROM [dbo].[SurveyResponse] WHERE athleteProfileId = {{ $('Edit Fields1').item.json.ap_id }})\nORDER by id DESC\n"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1340,
        220
      ],
      "id": "cd4c7bfa-7528-4398-8e74-265e5e8d23ac",
      "name": "Microsoft SQL Scores",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dde642e2-cf6a-4935-9711-2fc921b44f06",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "680ede81-1548-470e-85cd-959951da46ac",
      "name": "Webhook",
      "webhookId": "dde642e2-cf6a-4935-9711-2fc921b44f06"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"output\": {{ $json.output }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1380,
        0
      ],
      "id": "92e3f94c-dd0e-4d97-b6a2-e180852740d0",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL Drills": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL AP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL Scores": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fbf891e2-169b-4a48-a8e1-f48f9693fbc5",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-07-11T13:17:34.969Z",
      "updatedAt": "2025-07-11T13:17:34.969Z",
      "id": "XEjN7fWhDMHdaXaT",
      "name": "Golf Coach"
    }
  ]
}