n8n-daily-backups.json
{
  "createdAt": "2025-07-11T13:57:39.916Z",
  "updatedAt": "2025-07-11T14:22:59.000Z",
  "id": "AkEboQ4d3RkY4mCc",
  "name": "N8N Daily Backups",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "68768df2-3eaf-4cf1-8bdb-b708f4ac0030",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -140,
        160
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "72afcbea-4f7f-4f6d-9bab-1c6f078dcdb6",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        180,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate1').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "8e4c3c36-ebdb-43f3-930f-463b7ca14d37",
      "name": "Check if file exists1",
      "type": "n8n-nodes-base.if",
      "position": [
        980,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "07ac7204-0286-4992-bd50-2adf41d3345c",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        500,
        160
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "47e39fa5-f685-4ee8-9655-0fc1e3815889",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        660,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "25906fcd-46e4-4a47-8dfe-5d88a00f401b",
      "name": "Commit date & file name1",
      "type": "n8n-nodes-base.set",
      "position": [
        820,
        160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "roypdi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backups",
          "mode": "name"
        }
      },
      "id": "2cbfcd37-5ac8-4f56-a407-35b2b3f2eabf",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        20,
        160
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "Coz2G0yYRDPMkqOa",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "95205768-988f-4675-a7ae-7652f976f056",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        340,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "fiwqXsXlX7irl44Y",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "roypdi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backups",
          "mode": "name"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name1').item.json.commitDate }}"
      },
      "id": "fe5c6030-6b45-4282-81fd-1593b5dd2d1a",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1140,
        80
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Coz2G0yYRDPMkqOa",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "roypdi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backups",
          "mode": "name"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name1'].json.commitDate }}"
      },
      "id": "40dca94e-7aca-4f5d-af1a-8ae5cf345c50",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1140,
        240
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Coz2G0yYRDPMkqOa",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists1": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Commit date & file name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name1": {
      "main": [
        [
          {
            "node": "Check if file exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "77a4f214-dcaa-414e-94c3-f91960e4d4fe",
  "triggerCount": 1,
  "tags": []
}