practice-plan-v2.json
{
  "createdAt": "2025-08-05T16:32:22.154Z",
  "updatedAt": "2025-08-05T16:45:08.000Z",
  "id": "CDeAub2HTb1AI0Yc",
  "name": "practice-plan-v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1020,
        480
      ],
      "id": "d04b96ef-b59d-43b5-b0f2-965c364e389b",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        300
      ],
      "id": "9c33423e-9972-4c95-8591-256b9282c62c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "I8AkDrdcTfhJdWQC",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Returns athlete's name and other personal details.",
        "operation": "executeQuery",
        "query": "SELECT\n      [FirstName]\n      ,[LastName]\n      ,[Gender]\n      ,[DateOfBirth]\n      ,[Height]\n      ,[Weight]\n      ,[userId]\n      ,[GolferType]\n      ,[College]\n  FROM [dbo].[AthleteProfile]\nWHERE [dbo].[AthleteProfile].[id] = {{ $('Edit Fields4').item.json.ap_id }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1160,
        480
      ],
      "id": "ccaf2288-26fd-4377-9ce0-cda8d0ffd9c1",
      "name": "Athlete Details2"
    },
    {
      "parameters": {
        "jsCode": "function getShortGameLevel(short, med, long){\n  let total = short + med + long;\n  if(total <= 5){\n    return 1;\n  } else if(6 <= total && total <= 8){\n    return 2;\n  } else {\n    return 3\n  }\n}\n\nfunction getFullSwingLevel(driver, irons){\n  let total = driver + irons;\n  if(total <= 5){\n    return 1;\n  } else if(6 <= total && total <= 9){\n    return 2;\n  } else {\n    return 3\n  }\n}\n\nfunction getPhysicalLevel(val){\n  if(val === 0 || val === 1){\n    return 1\n  } else if (val === 2){\n    return 2\n  } else {\n    return 3\n  }\n}\n\nfunction getBroadJumpLevel(val){\n  if(val <= 80){\n    return 1\n  }else if(val > 80  && val <= 119){\n    return 2\n  } else {\n    return 3\n  } \n}\n\n\nfunction getSupineLevel(left, right){\n  let total = left + right\n  if(total <= 119){\n    return 1\n  }else if(total > 119  && total <= 191){\n    return 2\n  } else {\n    return 3\n  } \n}\n\nlet puttingLevel = getShortGameLevel($input.first().json.Putt3ft, $input.first().json.Putt10ft, $input.first().json.Putt30ft);\nlet wedgeLevel = getShortGameLevel($input.first().json.Chip3yd, $input.first().json.Chip10yd, $input.first().json.Chip20yd);\n\nlet deepSquatLevel = getPhysicalLevel($input.first().json.DeepSquat)\nlet aslrLeftLevel = getPhysicalLevel($input.first().json.ASLRLeft)\nlet aslrRightLevel = getPhysicalLevel($input.first().json.ASLRRight)\nlet supineBridgeLevel = getSupineLevel($input.first().json.SupineBridgeLeft, $input.first().json.SupineBridgeRight)\nlet broadJumpLevel = getBroadJumpLevel($input.first().json.BroadJump)\nlet fullSwingLevel = getFullSwingLevel($input.first().json.Driver, $input.first().json.SixIronBFC)\n\n\nreturn {\"mostRecentAssessment\": $input.first(), puttingLevel, wedgeLevel, deepSquatLevel, aslrLeftLevel, aslrRightLevel, supineBridgeLevel, broadJumpLevel, fullSwingLevel};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "323b4300-a0bd-436b-9a3e-48baa5c27e82",
      "name": "Code2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wtIRa9GuyX1CFh4k",
          "mode": "list",
          "cachedResultName": "AssessmentData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "apId": "={{ JSON.stringify($('Webhook').item.json.body.attributes.athleteProfileId) }}"
          },
          "matchingColumns": [
            "apId"
          ],
          "schema": [
            {
              "id": "apId",
              "displayName": "apId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "0a867f3c-4abe-48c8-bb47-a5fd64c25cf6",
      "name": "Execute Workflow2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d982a37-5d6e-4635-8f53-3b8a1997ca17",
              "name": "ap_id",
              "value": "={{ $('Webhook').item.json.body.attributes.athleteProfileId }}",
              "type": "number"
            },
            {
              "id": "21f7860b-e755-4319-8085-9f7593e857fa",
              "name": "chatInput",
              "value": "={{ $('Webhook').item.json.body.attributes.message }}",
              "type": "string"
            },
            {
              "id": "55e638f6-98a9-4489-a3b4-469449f7b0e0",
              "name": "averageScores",
              "value": "={{ $('Execute Workflow2').item.json.averageScores }}",
              "type": "object"
            },
            {
              "id": "21680b6d-6790-4c1c-8f49-cc4a633f7962",
              "name": "mostRecentAssessment",
              "value": "={{ $('Code2').item.json.mostRecentAssessment.json }}",
              "type": "object"
            },
            {
              "id": "79d3dcc5-40eb-407c-b2a0-a0d97ee341be",
              "name": "sessionId",
              "value": "999999999999",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        0
      ],
      "id": "6e12d501-c22f-48df-9333-543d52996460",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Athlete's Question: {{ $json.chatInput }}\n\n---\n\n**Most Recent Assessment:**\n{{ JSON.stringify($json.mostRecentAssessment) }}\n\n**Overall Average Scores:**\n{{ JSON.stringify($json.averageScores) }}\n\n---\n\nPlease analyze the data above. Then:\n- Review how they performed in the most recent assessment.\n- Compare to all-time average.\n- Highlight:\n  - Key declines\n  - Areas that need more work\n- Create a practice plan based on the users input\n- Recommend drills based on the Drills node.\n- Recommend challenges based on the Challenges node.\n- Display the drill and challenge id's next to each drill and challenge in your response",
        "options": {
          "systemMessage": "=You are Coach Petey PDI, a seasoned and encouraging AI golf coach for PDI. PDI is a golf training and improvement tool designed to help athletes assess and improve their Physical, Golf, and Mental abilities through structured assessments and targeted drills. Users take comprehensive assessments and receive scores across various skill domains. Based on these scores, your role is to create clear, personalized, and actionable practice plans to athletes.\n\n**Two Week Practice Plan Guidlines**\n- Practice plan consists of one key focus area (This focus should always be a golf skill). This area should be the users weakest golf skill. You need to assign two drills for this focus area (i.e. if their weakest skill is chipping assign 2 chipping drills, if it is putting assign 2 putting drills...),\n- Practice plan consists of one golf sub-focus area. This area should be the users next weakest golf skill. You need to assign 1 drill for this sub-focus area.\n-Practice plan consists of one physical focus area. This area should be the users weakest physical skill. You need to assign 1 drill for this physical focis area.\n- Practice plan must consist of two challenges that focus on the users key focus area (i.e. if the key focus area is chipping assign 2 chipping challenges).\n- The practice plan should be structured like so:\n  - week 1: key focus drill 1, golf sub-focus drill, key focus challenege 1\n  - week 2: key focus drill 2, physical sub-focus drill, key focus challenege 2\n  - in total there should be four drills and two challenges\n- never assign any drill or challenge twice in the smae practice plan\n\n**drill recommendation guidlines**\nWhen offering customized practice drills get drills by querying the Drills node, aligning recommendations to the user’s weaknesses.\n\n**challenge recommendation guidlines**\nWhen offering customized practice challenges get challenges by querying the Drills node, aligning recommendations to the user’s weaknesses.\n\n**storing the practice plan**\n- After creating the practice plan call the generate plan http request tool (this will save the plkan for future refernece)\n- In the http request you will need to pass the athleteprofileId along with all the ID's of the drills and challenges\n\n---\n\n**What You Will Receive:**\n\nYou will be provided with athlete data from PDI Assessments. Each assessment contains three sections:\n\n1. **Physical Ability**\n2. **Golf Ability**\n   - 3ft Putt (4 attempts)\n   - 10ft Putt (4 attempts)\n   - 30ft Putt (4 attempts)\n   - 3yd Chip (4 attempts)\n   - 10yd Chip (4 attempts)\n   - 20yd Chip (4 attempts)\n   - Driver (6 attempts)\n   - Six Iron Ball Flight Control (9 attempts, with 4 sub-metrics per shot: curve, carry, height, distance)\n3. **Mental Ability**\n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "dd980942-bcbc-4080-a020-ed1a848ffd47",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce1be9a0-3a2b-4b21-a988-52028cb62a70",
              "name": "output",
              "value": "",
              "type": "string"
            },
            {
              "id": "e97c3a54-d570-4467-91f7-2be8fa3b74b2",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        0
      ],
      "id": "abed373d-2750-4dab-ad37-e5d22130c407",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"output\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        0
      ],
      "id": "9c32cbc7-e393-4209-9d0a-ceb73566b7d1",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa8d6fce-7047-451a-8bdc-6a96ce791afd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "18005a91-aa2d-4244-a05b-05604379dd15",
      "name": "Webhook",
      "webhookId": "aa8d6fce-7047-451a-8bdc-6a96ce791afd"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use to get a list of challenges to recommend to the athlete",
        "operation": "executeQuery",
        "query": "SELECT cd.id, cd.section, cd.groupName, cd.level, cd.rules, cd.goal, cd.setup, cd.drillName\nFROM challengedrill cd\nLEFT JOIN assignment a \n    ON cd.id = a.challengeDrillId \n    AND a.athleteProfileId = {{ $('Webhook').item.json.body.attributes.athleteProfileId }}\nWHERE a.challengeDrillId IS NULL\n  AND cd.section NOT IN (\n      'Stress Management', \n      'Target Focus', \n      'Identity/Mindset', \n      'Goal Setting', \n      'Emotional Control', \n      'Self Awareness'\n  )\nAND cd.type != 0\nAND cd.level = 1;"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ],
      "id": "dc13e265-b370-46fd-b4ff-3eb6ab44eb3f",
      "name": "Challenges",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use to get a list of drills to recommend to the athlete",
        "operation": "executeQuery",
        "query": "SELECT cd.id, cd.section, cd.groupName, cd.rules, cd.goal, cd.setup, cd.drillName, cd.level, cd.type\nFROM challengedrill cd\nWHERE cd.drillName NOT IN (\n    SELECT cd2.drillName\n    FROM challengedrill cd2\n    INNER JOIN assignment a ON cd2.id = a.challengeDrillId\n    WHERE a.athleteProfileId = {{ $('Webhook').item.json.body.attributes.athleteProfileId }}\n)\nAND cd.section NOT IN (\n    'Stress Management', \n    'Target Focus', \n    'Identity/Mindset', \n    'Goal Setting', \n    'Emotional Control', \n    'Self Awareness'\n)\nAND cd.type = 0\nAND (\n    (cd.groupName = 'ASLR' AND cd.level IN ({{ $('Code2').item.json.aslrLeftLevel }} , {{ $('Code2').item.json.aslrRightLevel }})) -- right: 2, left: 3\n    OR (cd.groupName = 'Supine Bridge' AND cd.level = {{ $('Code2').item.json.supineBridgeLevel }})\n    OR (cd.groupName = 'Deep Squat' AND cd.level = {{ $('Code2').item.json.deepSquatLevel }})\n    OR (cd.groupName = 'Broad Jump' AND cd.level = {{ $('Code2').item.json.broadJumpLevel }})\n    OR (cd.groupName = 'Full Swing' AND cd.level = {{ $('Code2').item.json.fullSwingLevel }})\n    OR (cd.groupName = 'Wedges' AND cd.level = {{ $('Code2').item.json.wedgeLevel }})\n    OR (cd.groupName = 'Putting' AND cd.level = {{ $('Code2').item.json.puttingLevel }})\n)\n;\n"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1360,
        300
      ],
      "id": "fe741625-2689-4a6e-9404-4eab1b538f8f",
      "name": "Drills",
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP 1 *\nFROM (\n    SELECT \n        [createdAt],\n        [modifiedAt],\n        [PdiWithScoringAvg],\n        [Putt3ft],\n        [Putt10ft],\n        [Putt30ft],\n        [Chip3yd],\n        [Chip10yd],\n        [Chip20yd],\n        [Driver],\n        [SixIronBFC],\n        [BroadJump],\n        [ASLRLeft],\n        [ASLRRight],\n        [DeepSquat],\n        [SupineBridgeLeft],\n        [SupineBridgeRight],\n        [ScoringAverage],\n        'assessmentSummary' AS source\n    FROM assessmentSummary\n    WHERE athleteProfileId = {{ $json.body.attributes.athleteProfileId }}\n\n    UNION ALL\n\n    SELECT \n        [createdAt],\n        [modifiedAt],\n        [PdiWithScoringAvg],\n        [Putt3ft],\n        [Putt10ft],\n        [Putt30ft],\n        [Chip3yd],\n        [Chip10yd],\n        [Chip20yd],\n        [Driver],\n        [SixIronBFC],\n        [BroadJump],\n        [ASLRLeft],\n        [ASLRRight],\n        [DeepSquat],\n        [SupineBridgeLeft],\n        [SupineBridgeRight],\n        [ScoringAverage],\n        'assessmentSummarySelf' AS source\n    FROM assessmentSummarySelf\n    WHERE athleteProfileId = {{ $json.body.attributes.athleteProfileId }}\n) AS combined\nORDER BY createdAt DESC"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "36e46c32-9271-499c-9bd2-b8feb88541b0",
      "name": "Microsoft SQL",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "QWx5JdDwbJpAMzMS",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "HTTP Request that will create a practice plan",
        "method": "POST",
        "url": "https://pdibackenddev.azurewebsites.net/api/practice-plan/assign-practice-plan",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "athleteProfileId",
              "value": "={{ $('Webhook').item.json.body.attributes.athleteProfileId }}"
            },
            {
              "name": "keyFocusDrillOneId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `The ID of the key focus drill 1 that you assigned`, 'string') }}"
            },
            {
              "name": "keyFocusDrillTwoId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `The ID of the key focus drill 2 that you assigned.`, 'string') }}"
            },
            {
              "name": "challengeOneId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `The ID of the challenge one that you assigned.`, 'string') }}"
            },
            {
              "name": "challengeTwoId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `The ID of the challenge two that you assigned.`, 'string') }}"
            },
            {
              "name": "golfSubFocusDrillId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `The ID of the sub-focus golf drill you assigned.`, 'string') }}"
            },
            {
              "name": "physicalDrillId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `The id of the physical drill that you assigned.`, 'string') }}"
            },
            {
              "name": "UNIQUE_KEY",
              "value": "0B4887D3-211F-41D4-A7B4-9906AF0CABE4"
            },
            {
              "name": "weekOneDescription",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `Return a brief description explaining the drills and challenges assigned in week 1 and why they were assigned. Your description should be easily understood by a young teenager and include only the applicable stats from their assessments.`, 'string') }}"
            },
            {
              "name": "weekTwoDescription",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', `Return a brief description explaining the drills and challenges assigned in week 2 and why they were assigned. Your description should be easily understood by a young teenager and include only the applicable stats from their assessments.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "id": "01a4b986-d682-4c20-9dfa-3ec8cb319c74",
      "name": "Generate Plan"
    }
  ],
  "connections": {
    "Code2": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Challenges": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Drills": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Plan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8f242975-449d-4820-aad4-39932e3738c9",
  "triggerCount": 1,
  "tags": []
}